<h1>New Post</h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @place_id %>">

  <label for="title">Title</label>
  <input type="text" id="title" name="title">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <label for="occurred_on">Date</label>
  <input type="date" id="occurred_on" name="occurred_on">

  <button>Create Entry</button>
</form>

<a href="/places/<%= @place_id %>">Back to Place</a>